@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}

.App-logo {
  display: none;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dev-site {
  text-decoration: none;
  position: absolute;
  top: 40px;
  color: #f4f4f4;
  font-size: 50px;
  font-family: "Lobster", cursive;
}


@keyframes glowCyan {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #bef0ff, 0 0 30px #89e4ff, 0 0 40px #6dddfe, 0 0 50px #2ecfff, 0 0 60px #0bc7ff, 0 0 70px #00b2e7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #bef0ff, 0 0 40px #89e4ff, 0 0 50px #6dddfe, 0 0 60px #2ecfff, 0 0 70px #0bc7ff, 0 0 80px #00b2e7;
  }
}

@keyframes glowPurple {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #d97cff, 0 0 30px #d366ff, 0 0 40px #ca45ff, 0 0 50px #c32dff, 0 0 60px #b600ff, 0 0 70px #00b2e7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d97cff, 0 0 40px #d366ff, 0 0 50px #ca45ff, 0 0 60px #c32dff, 0 0 70px #b600ff, 0 0 80px #00b2e7;
  }
}

.text:hover {
  -webkit-animation: glowPurple 1s ease-in-out infinite alternate;
  -moz-animation: glowPurple 1s ease-in-out infinite alternate;
  animation: glowPurple 1s ease-in-out infinite alternate;
}